/*abstracts*/
@use './presentation/scss/abstracts/variables';

/*base*/
@use './presentation/scss/base/base';
@use './presentation/scss/base/resets';

.main-container {
    /* border: 1px solid white; */
    width: 900px;
    margin: 20px auto;
    position: relative;
}